.App {
  display: flex;
  flex-direction: column;
  width: 100vw;
  user-select: none;
}

.splash {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  width: 100vw;
  height: 100vh;
}

.sidebar {
  width: 6vw;
  height: 100vh;
  border-right: 1px solid lightgray;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main {
  width: 47vw;
  height: 100vh;
  display: flex;
  align-items: center;
}

.main-side {
  width: 47vw;
  height: 100vh;
}

.resume-window {
  width: 47vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  border-left: 1px solid lightgray;
  margin-left: 100%;
}

.resume {
  width: 35vw;
  padding-left: 5vw;
}

.paper-clip {
  display: flex;
  width: 3vw;
  height: 3vw;
  background: #92949A;
  align-items: center;
  justify-content: center;
  border-radius: 0.5vw;
  margin-left: -1.3vw;
  margin-top: -70vh;
}

.title-box {
  padding-left: 2vw;
}

.main-title {
  max-width: 40vw;
}

.main-subtitle {
  font-size: 0.9vw;
  color: #92949A;
  font-family: "Lora";
  background: transparent;
  border: 0;
  padding: 0;
  padding-top: 3vh;
  display: flex;
  align-items: flex-start;
  cursor: pointer;
}

.icons-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 3vw;
  height: 25vh;
  margin-top: 1.5vw;
}

.icon-box {
  width: 3vw;
  height: 3vw;
  border-radius: 0.5vw;
}

.cursor-msg {
  position: absolute;
  background: white;
  border: 1px solid lightgray;
  z-index: 5;
  font-family: "Poppins";
  font-size: 0.8vw;
  color: #92949A;
  padding: 1vw;
  max-width: 20vw;
}